<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} thread:%thread [%-5level] %class{0}::%method, line %L: &gt;-&lt; %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="at.tara.snn" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="org.hibernate.type" level="OFF"/>
    <logger name="org.hibernate" level="OFF"/>

</configuration>